@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --highlight-color: #9c0f48;
  --link-color: #470d21;
  --main-text-color: #f9e4d4;
  --margin-auto: 0 auto;
}

body {
  font-family: "Inconsolata", monospace;
  max-width: 100%;
  text-align: center;
}

h2 {
  font-size: 42px;
}

h1 {
  font-size: 96px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

h1,
h2,
h3 {
  color: var(--link-color);
  margin: var(--margin-auto);
}

span {
  justify-content: center;
  margin-top: 65px;
}

a {
  border-radius: 50px;
  margin: 20px;
  padding: 15px 25px;
  text-decoration: none;
}

a:hover {
  color: var(--link-color);
}

.logo-img {
  width: 10px;
}

.introduction-text {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.introduction-content {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.about-me-link {
  background: var(--highlight-color);
  box-shadow: -1px 4px 20px 3px #ffc0cb87;
  color: var(--main-text-color);
}

.contact-me-link {
  border: 1px solid var(--highlight-color);
  color: var(--highlight-color);
}

a.back-home-link {
  color: var(--highlight-color);
  margin-bottom: 0;
}

.about-me-page {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.introduction-about-me {
  background: var(--highlight-color);
  border-radius: 9px;
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 1.5;
  margin: 10px;
  padding: 20px;
}

#contact-me-email {
  align-items: center;
  display: flex;
  justify-content: center;
}

.send-to-message {
  margin: 0;
}

a.my-email {
  color: var(--main-text-color);
  padding: 0 5px;
  margin: 0;
  text-decoration: none;
}

a.my-email:hover {
  color: var(--link-color);
  text-decoration: underline;
}
